[Unit]
Description=pass global counter from fpga over OS to fpga
Requires=network-online.target
After=network-online.target

[Service] 
ExecStart=/home/vq-user/server/gc
Restart=always
RestartSec=10
StartLimitBurst=5
User=vq-user
WorkingDirectory=/home/vq-user/server
StandardOutput=append:/home/vq-user/log/gc.log
StandardError=append:/home/vq-user/log/gc.log

[Install] 
WantedBy=multi-user.target
