[Unit]
Description=individual hardware control
Requires=network-online.target
After=network-online.target

[Service] 
EnvironmentFile=/etc/environment
ExecStart=/home/vq-user/server/hw.py
Restart=always
RestartSec=10
StartLimitBurst=5
User=vq-user
WorkingDirectory=/home/vq-user/server
StandardOutput=append:/home/vq-user/log/hw.log
StandardError=append:/home/vq-user/log/hw.log

[Install] 
WantedBy=multi-user.target
