[Unit]
Description=hardware system control (Alice and Bob)
Requires=network-online.target
After=network-online.target

[Service] 
EnvironmentFile=/etc/environment
ExecStart=/home/vq-user/server/hws.py
Restart=always
RestartSec=10
StartLimitBurst=5
User=vq-user
WorkingDirectory=/home/vq-user/server
StandardOutput=append:/tmp/log/hws.log
StandardError=append:/tmp/log/hws.log

[Install] 
WantedBy=multi-user.target
