[Unit]
Description=hardware system control (Alice and Bob)
Requires=network-online.target
After=network-online.target

[Service] 
EnvironmentFile=/etc/environment
ExecStart=/home/vq-user/qline/server/hws.py
Restart=always
User=vq-user
WorkingDirectory=/home/vq-user/qline/server
StandardOutput=append:/home/vq-user/qline/log/hws.log
StandardError=append:/home/vq-user/qline/log/hws.log

[Install] 
WantedBy=multi-user.target
