[Unit]
Description=hardware monitoring server
Requires=network-online.target
After=network-online.target

[Service] 
EnvironmentFile=/etc/environment
ExecStart=/home/vq-user/server/mon.py
Restart=always
RestartSec=10
StartLimitBurst=5
User=vq-user
WorkingDirectory=/home/vq-user/server
StandardOutput=append:/tmp/log/mon.log
StandardError=append:/tmp/log/mon.log

[Install] 
WantedBy=multi-user.target
