[Unit]
Description=post processing for qkd
Requires=network-online.target
After=network-online.target

[Service] 
EnvironmentFile=/etc/environment
ExecStart=/home/vq-user/server/node -c ../config/node.json
Restart=always
RestartSec=10
StartLimitBurst=5
User=vq-user
WorkingDirectory=/home/vq-user/server
StandardOutput=append:/home/vq-user/log/node.log
StandardError=append:/home/vq-user/log/node.log

[Install] 
WantedBy=multi-user.target
